.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.header-logo span {
  color: var(--accent-color);
}

.header {
  border: 1px solid #ececec;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100vw;
  }
}
.menu-container {
  display: none;
}

.nav-list-link {
  // display: block;
  color: var(--secondary-color);
  transition: color 250ms var(--time-func);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header-mail,
.header-tel {
  transition: color 250ms var(--time-func);
  // display: flex;
  // align-items: center;
  font-style: normal;
  color: var(--main-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mail-icon,
.phone-icon {
  fill: currentColor;
  margin-right: 10px;
}
.current {
  color: var(--accent-color);
  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
.nav-list-link {
  position: relative;
}

@media screen and (max-width: 767px) {
  .header .container {
    position: relative;
  }
  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .menu-button .icon-close {
    display: none;
  }

  .menu-button.is-open .icon-close {
    display: block;
  }

  .menu-button.is-open .icon-menu {
    display: none;
  }

  .menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 1;
  }

  .menu-container.is-open {
    display: block;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .icon-close,
  .icon-menu {
    transition: fill 250ms var(--time-func);
  }
  .menu-button:hover .icon-menu,
  .menu-button:focus .icon-menu,
  .menu-button:hover .icon-close,
  .menu-button:focus .icon-close {
    fill: var(--accent-color);
  }
  .nav-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .header-mail {
    margin-bottom: 16px;
  }
  .nav-list {
    margin-bottom: 60px;
  }
  .header-address-item:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
  }
  .menu-button {
    display: none;
  }
  .menu-container {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    width: 294px;
    height: 100%;
    justify-content: space-between;
    margin-right: 84px;
  }

  // .nav-list-link {
  //   display: block;
  // }

  .header-mail {
    margin-bottom: 10px;
  }

  .header-mail,
  .header-tel {
    //   transition: color 250ms var(--time-func);
    display: flex;
    align-items: center;
  }

  .current::after {
    -webkit-transform: translateY(28px);
    transform: translateY(28px);
  }
  .nav-list-item {
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .header .container {
    display: flex;
    align-items: center;
    min-height: 70px;
    // justify-content: space-between;
    padding-right: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .header-logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
  .header-address-list {
    display: flex;
    align-items: center;
    margin-left: 305px;
  }
  .header-mail {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .nav-list {
    margin-right: 0;
  }
}
